<div>
<p>
User details :
</p>

<p>First name: </p>
<input type="text" ng-model="firstName">

<p>Last name: </p>
<input type="text" ng-model="lastName">

<p>CNP: </p>
<input type="text" ng-model="cnp">

<p>Age: </p>
<input type="number" ng-model="age">

<p>
    <a class="btn btn-primary btn-lg" role="button" ng-click="back()">Back</a>
</p>
<p>
    <a class="btn btn-primary btn-lg" role="button" ng-click="reset()">Reset</a>
</p>
<p>
    <a class="btn btn-primary btn-lg" role="button" ng-click="save()">Save</a>
</p>
</div>