.description {
    text-align: center;
    color: #330099;
}
.viewbutton {
    display: inline-block;
    border-radius: 4px;
    background-color: #82FA58;
    border: none;
    color: black;
    font-size: 12px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.viewbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.viewbutton span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5px;
    transition: 0.5s;
}

.viewbutton:hover span {
    padding-right: 10px;
}

.viewbutton:hover span:after {
    opacity: 1;
    right: 0;
}
.delrowbutton {
    background-color:#FA5858;
    border: none;
    color: black;
    padding: 10px;
    width: 100px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}